<!DOCTYPE html>
<html>
    <head>
        <title>Hogan Financials</title>
        
    </head>
    <body>
        <h1>Hello, welcome to the Hogan Financials app!</h1>

        <h3>
            {% block header %}{% endblock %}

        </h3>


        <div id="naviagtion">
        
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/MSFT">Microsoft Data</a>
            </li>
            <li>
                <a href="/options">Options Data</a>
            </li>
            <li>
                <a href="/dividend">Dividend Data</a>
            </li>
            <li>
                <a href="/portfolio">Portfolio</a>
            </li>
            <li>
                <a href="/news">News</a>
            </li>
            <li>
                <a href="/risks">Risk Analysis</a>
            </li>
        </ul>

    </div>

        <p>


            {% block content %}{% endblock %}


        </p>

        </div>
    </body>
</html>

